body {
    margin: 0px;
    background-color: rgb(230, 230, 230);


}


.header {
    background-color: rgb(59, 58, 58);
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    flex-direction: column;

}

.photo {
    border-radius: 50%;

}

.img-header {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -33%;
    border: 3px solid white;

}

.content {
    /* background-color: gray; */
}

.social-network {

    width: 80%;
    height: 300px;
    background-color: white;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.space {
    height: 75px;
}

#img-insta,
#img-linkedin {
    width: 2em;
    height: 2em;
}

.texte {
    text-align: center;
    width: 72%;
    margin: 25px 0px;
}

.button {

    display: flex;
    flex-direction: row;
    margin: 20px;

}

.download {

    margin-right: 30px;
}

.download,
.contact-me {
    background-color: rgba(0, 206, 209, 0.849);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5%;
    height: 30px;
    justify-content: center;
    display: flex;


}

.text-button {
    padding: 6px 10px;

}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.experience h2{
    color: gray;
}
.experience-content {
    display: flex;

    flex-direction: row;
}

.card {
    width: 500px;
    height: 300px;
    margin: 5px;
    background-color: white;
}
.content-card:first-of-type{
    margin-right: 35px;
}
.content-card:last-of-type{
    margin-left: 35px;
}
.content-card:first-of-type .card:last-of-type{
    margin-top:100px;
}
.content-card:last-of-type .card:first-of-type{
    margin-top: 75px;
}
.content-card:last-of-type .card:last-of-type{
    margin-top: 100px;
}

.card-header {
    width: 100%;
    height: 75px;
    background-color: rgb(58, 53, 52);

    display: flex;
    align-items: center;

}

.card-header h3 {
    color: white;
    margin-left: 20px;

}

.card-content {
    margin-left: 20px;
}

.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.skill-content{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
}
.skill-card{
    width: 340px;
    height: 460px;
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.skill-card:not(:last-of-type){
    margin-right: 30px;

}
.skill-progress{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.skill-progress p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.progress-bar{
    position: relative;
    background-color: black;
    height: 3px;
    z-index: 0;
}
.progress-down{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    background-color: white;
    height: 3px;
    
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    top:-6px;
    bottom:0;
       
}





/* .tete {text-align:center;
}


.bac {text-align:center;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(169,169,169);
    border-style:double;
    width: 200px;
       
}


.dgie{text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    background-color: rgb(169,169,169);
    border-style:double;
    width: 200px;

}

.gie{text-align:center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    background-color: rgb(169,169,169);
    border-style:double;
    width: 200px;

}


.supu{text-align:center;
    margin-right: auto;
    margin-left: auto;
    background-color:  rgb(169,169,169);
    border-style:double;
    width: 200px;
}

.entier{
display: flex;
}   


.entier1{
    display: flex;
}

.Skills {
    text-align: center;  
}

.allskills{
    display: flex;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 33%;
    
}


.language{
    text-align: center;
    padding-left: 52px;
}

.Professional{
    
    padding-left: 14%;
    padding-right: 52px;
}

.personnel{
    text-align: center;
    padding-bottom:90px;
}

.brd{
    
}


.presentation{
    font-style: italic;
    font-size: 20px;
    text-align:center;
}



.flex{
    display: flex;
    
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.reseaux-sociaux img{
    margin-right: 1em;
    transition: all 0.3s ease-out;
    border: 2px solid transparent;
    border-radius: 100%;
    
}
.reseaux-sociaux img:hover{
    filter: invert(100%); 
    -webkit-filter: invert(100%); 
}
.reseaux-sociaux{
    margin-top: 1.6em;
    width: 9%;
    
}   

    

 */